//
   Created by yzsoft on 16/7/4.
   页脚文件
footer.mui-bar.mui-bar-tab
    a.mui-tab-item.mui-active(href='#')
        span.mui-icon.icon-nav-01
        span.mui-tab-label 首页
    a.mui-tab-item(href='#')
        span.mui-icon.icon-nav-02
            span.mui-badge 9
        span.mui-tab-label 分类
    a.mui-tab-item(href='#')
        span.mui-icon.icon-nav-03
        span.mui-tab-label 购物车
    a.mui-tab-item(href='#')
        span.mui-icon.icon-nav-04
        span.mui-tab-label 实体店
    a.mui-tab-item(href='#')
        span.mui-icon.icon-uniE907
        span.mui-tab-label 个人中心
