//
   Created by yzsoft on 16/7/5.
meta(charset="UTF-8")
meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )
link(rel="stylesheet" href="lib/mui/css/mui.min.css")
link(rel="styleSheet" href="static/css/font.css")
link(rel="stylesheet" href="static/css/base.css")
