//
   Created by Administrator on 2016/7/6.
.goodlist-footer
    .goodlist-cart
        span.mui-badge.mui-badge-danger 3
        span.icon-goodlist-cart.goodlist-cart-icon
    #totop.goodlist-totop
        span.icon-uniE90D.goodlist-totop-icon
        span.goodlist-totop-text 顶部
