//轮播图
.mui-slider
    .mui-slider-group.mui-slider-loop
        // 支持循环，需要重复图片节点
        .mui-slider-item.mui-slider-item-duplicate
            a(href='#')
                img(src='static/img/4.jpg')
        .mui-slider-item
            a(href='#')
                img(src='static/img/1.jpg')
        .mui-slider-item
            a(href='#')
                img(src='static/img/2.jpg')
        .mui-slider-item
            a(href='#')
                img(src='static/img/3.jpg')
        .mui-slider-item
            a(href='#')
                img(src='static/img/4.jpg')
        // 支持循环，需要重复图片节点
        .mui-slider-item.mui-slider-item-duplicate
            a(href='#')
                img(src='static/img/1.jpg')
    .mui-slider-indicator
        .mui-indicator.mui-active
        .mui-indicator
        .mui-indicator
        .mui-indicator
