//导航块
.hot-box
    ul.mui-bar-tab
        li.mui-tab-item
            a.hot-box-href(href='')
                img.hot-box-img(src='./static/img/hot-1.png')
                .hot-text
                    | 最新上市
        li.mui-tab-item
            a.hot-box-href(href='')
                img.hot-box-img(src='./static/img/hot-2.png')
                .hot-text
                    | 劲爆热款
        li.mui-tab-item
            a.hot-box-href(href='')
                img.hot-box-img(src='./static/img/hot-3.png')
                .hot-text
                    | 限时优惠
        li.mui-tab-item
            a.hot-box-href(href='')
                img.hot-box-img(src='./static/img/hot-4.png')
                .hot-text
                    | 直供商品