//产品列表
.goods-box
    ul.mui-table-view.mui-grid-view#productLlistBox
        //li.mui-table-view-cell.mui-media.mui-col-xs-6
            .goods-list.mui-clearfix
                a(href='')
                    img.goods-list-img(src='./static/img/good01.jpg')
                    h1.mui-ellipsis.goods-list-title 瓷片 D610022
                    span.fr.price.mui-ellipsis
                        strong.goods-box-price 5.94
                        | 元/片
                    .fl.norms.mui-ellipsis
                        | 规格:
                        span 300*300
